.DS_Store
proto/**/tmp/
proto/**/*.iml
proto/**/eclipse/
proto/**/.project
proto/**/.classpath
proto/**/nbproject/
proto/**/.settings/
proto/play/modules/
proto/play/test-result/
proto/play/logs/
proto/wicket/entraides/target/
proto/wicket/target/*
.idea/*
out/*
*.iws
*.ipr
*.iml