#notify {
    background-color: #f0ffff;
}

#header{
    height: 70px;
    background-color: #ffd700;
}

#container {
    background-color: #f0f8ff;
}

#footer {
    height: 70px;
    background-color: #deb887;
}



