#{extends 'main.html' /}
#{set title:'Accueil' /}


<div class="container">


    <div class="hero-unit">
        <div class="row">

            <div class="span7">
                <h1>Entraides</h1> 
                <h2>Echanger des services!</h2>
                <a class="btn primary large" href="@{Profile.index()}">S'enregistrer</a>
            </div>
            <div class="span7"> 
                <!-- You must explicitly specify the dimensions of the container element -->
                <div id="wordcloud" style="width: 250px; height: 250px; position: relative;"></div>
            </div>


        </div>
    </div>


</div><!-- /container --> 