#{extends 'main.html' /}
#{set title:'Enregistrement à Entraides' /}

<div class="container">
    <div class="hero-unit">

        <div class="row">
            <div class="span8">
                <h2 align="center">Pas encore membre?</h2>
                #{form @registration_email()}
                <fieldset>

                    #{ifErrors}
                    <p class="error">
                        Please correct these errors.
                    </p>
                    #{/ifErrors}

                    #{field 'email'}
                    <div class="clearfix">
                        <label for="${field.name}">Email :</label>
                        <div class="input">
                            <input type="text" name="${field.name}" 
                                   value="${email}" class="${field.errorClass}" />
                        </div>
                    </div>
                    #{/field}

                    <div class="actions">
                        <input type="submit" class="btn" value="Rejoignez nous">
                    </div>
                </fieldset>
                #{/form}
            </div>

        </div>
    </div>
</div><!-- /container --> 